<!doctype html>
<html>
<head>
</head>
	<body>
			<div id='users'>
				<ul id=user_list>
					<% @users.each do |user, _| %>
						<li> <a href="users/<%=user%>"> <%= user %></a> </li>
					<% end %>
				</ul>
			</div
	</body>

</html>
