<!doctype html>
<html>
<head>
</head>
	<body>
			<div id='content'>
				<%= yield %>
			</div>
			
		
		<div id='info'>
			<p>There are <%= @users.count %> users with a total of <%= interest_counter %> interests. </p>
			
			
		</div>
	</body>

</html>
